In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine


# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float, Date

#Import Pandas
import pandas as pd

In [ ]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Creates Classes which will serve as the anchor points for our Tables
class historicalcity(Base):
    __tablename__ = 'weather_city_hist'
    index = Column(Integer, primary_key=True)
    date = Column(String)
    city = Column(String)
    latitude= Column(Integer)
    longitude = Column(Integer)
    uv_index = Column(Integer)

In [2]:
data_file = "hstr_data_city.csv"

In [3]:
df_file_city = pd.read_csv(data_file)
df_file_city.head()

                  date         city  latitude  longitude  uv_index
0  2020-01-01 12:00:00       Albany   -35.023    117.881     12.58
1  2020-01-01 12:00:00      Augusta   -34.312    115.159     12.96
2  2020-01-01 12:00:00   Australind   -33.280    115.720     13.22
3  2020-01-01 12:00:00  Bakers Hill   -31.750    116.450     13.78
4  2020-01-01 12:00:00      Bentley   -32.000    115.920     13.40

In [ ]:
engine = create_engine('sqlite:///histcity.sqlite', echo=True)
sqlite_connection = engine.connect()

In [ ]:
sqlite_table = "weather_city_hist"
df_file_city.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

In [ ]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Use this to clear out the db
# ----------------------------------
# Base.metadata.drop_all(engine)

In [ ]:
# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
# Query the Tables
# ----------------------------------
# Perform a simple query of the database
weather_list = session.query(historicalcity)
for weather in weather_list:
    print(weather.date)

In [4]:
#Data Analysis
df_file_city.head()

                  date         city  latitude  longitude  uv_index
0  2020-01-01 12:00:00       Albany   -35.023    117.881     12.58
1  2020-01-01 12:00:00      Augusta   -34.312    115.159     12.96
2  2020-01-01 12:00:00   Australind   -33.280    115.720     13.22
3  2020-01-01 12:00:00  Bakers Hill   -31.750    116.450     13.78
4  2020-01-01 12:00:00      Bentley   -32.000    115.920     13.40

In [ ]:
#highest UV
df_file_city.sort_values(by="uv_index",ascending=False).head()

In [ ]:
#lowest UV
df_file_city.sort_values(by="uv_index").head()

In [5]:
#add month column
df_file_city["month"] = df_file_city["date"].str[5:7].astype(int)
df_file_city.head()

                  date         city  latitude  longitude  uv_index  month
0  2020-01-01 12:00:00       Albany   -35.023    117.881     12.58      1
1  2020-01-01 12:00:00      Augusta   -34.312    115.159     12.96      1
2  2020-01-01 12:00:00   Australind   -33.280    115.720     13.22      1
3  2020-01-01 12:00:00  Bakers Hill   -31.750    116.450     13.78      1
4  2020-01-01 12:00:00      Bentley   -32.000    115.920     13.40      1

In [ ]:
#winter average uv (Halls Creek)
hc_df_winter = df_file_city.loc[df_file_city["city"] == "Halls Creek"]
hc_df_winter.head()

In [ ]:
hc_df_winter = hc_df_winter.loc[(hc_df_winter["month"] == 6) | (hc_df_winter["month"] == 7) | (hc_df_winter["month"] == 8)]
hc_df_winter.sort_values(by="month",ascending=False).head()

In [ ]:
hc_winter_average_uv = hc_df_winter["uv_index"].mean()
hc_winter_average_uv

In [ ]:
#spring average uv (Halls Creek)
hc_df_spring = df_file_city.loc[df_file_city["city"] == "Halls Creek"]
hc_df_spring = hc_df_spring.loc[(hc_df_spring["month"] == 9) | (hc_df_spring["month"] == 10) | (hc_df_spring["month"] == 11)]
hc_spring_average_uv = hc_df_spring["uv_index"].mean()
hc_spring_average_uv

In [ ]:
#summer average uv (Halls Creek)
hc_df_summer = df_file_city.loc[df_file_city["city"] == "Halls Creek"]
hc_df_summer = hc_df_summer.loc[(hc_df_summer["month"] == 12) | (hc_df_summer["month"] == 1) | (hc_df_summer["month"] == 2)]
hc_summer_average_uv = hc_df_summer["uv_index"].mean()
hc_summer_average_uv

In [ ]:
#autumn average uv (Halls Creek)
hc_df_autumn = df_file_city.loc[df_file_city["city"] == "Halls Creek"]
hc_df_autumn = hc_df_autumn.loc[(hc_df_autumn["month"] == 3) | (hc_df_autumn["month"] == 4) | (hc_df_autumn["month"] == 5)]
hc_autumn_average_uv = hc_df_autumn["uv_index"].mean()
hc_autumn_average_uv

In [ ]:
#average uv index in Halls Creek
hc_df = df_file_city.loc[df_file_city["city"] == "Halls Creek"]
hc_average_uv = hc_df["uv_index"].mean()
hc_average_uv

In [ ]:
# average winter uv (Albany)
albany_df_winter = df_file_city.loc[df_file_city["city"] == "Albany"]
albany_df_winter = albany_df_winter.loc[(albany_df_winter["month"] == 6) | (albany_df_winter["month"] == 7) | (albany_df_winter["month"] == 8)]
albany_winter_average_uv = albany_df_winter["uv_index"].mean()
albany_winter_average_uv

In [ ]:
# average spring uv (Albany)
albany_df_spring = df_file_city.loc[df_file_city["city"] == "Albany"]
albany_df_spring = albany_df_spring.loc[(albany_df_spring["month"] == 9) | (albany_df_spring["month"] == 10) | (albany_df_spring["month"] == 11)]
albany_spring_average_uv = albany_df_spring["uv_index"].mean()
albany_spring_average_uv

In [ ]:
# average summer uv (Albany)
albany_df_summer = df_file_city.loc[df_file_city["city"] == "Albany"]
albany_df_summer = albany_df_summer.loc[(albany_df_summer["month"] == 12) | (albany_df_summer["month"] == 1) | (albany_df_summer["month"] == 2)]
albany_summer_average_uv = albany_df_summer["uv_index"].mean()
albany_summer_average_uv

In [ ]:
# average autumn uv (Albany)
albany_df_autumn = df_file_city.loc[df_file_city["city"] == "Albany"]
albany_df_autumn = albany_df_autumn.loc[(albany_df_autumn["month"] == 3) | (albany_df_autumn["month"] == 4) | (albany_df_autumn["month"] == 5)]
albany_autumn_average_uv = albany_df_autumn["uv_index"].mean()
albany_autumn_average_uv

In [ ]:
#average uv index in Albany
albany_df = df_file_city.loc[df_file_city["city"] == "Albany"]
albany_average_uv = albany_df["uv_index"].mean()
albany_average_uv

In [7]:
# average winter uv (Perth)
perth_df_winter = df_file_city.loc[df_file_city["city"] == "Perth"]
perth_df_winter = perth_df_winter.loc[(perth_df_winter["month"] == 6) | (perth_df_winter["month"] == 7) | (perth_df_winter["month"] == 8)]
perth_winter_average_uv = perth_df_winter["uv_index"].mean()
perth_winter_average_uv

3.398913043478261

In [8]:
# average spring uv (perth)
perth_df_spring = df_file_city.loc[df_file_city["city"] == "Perth"]
perth_df_spring = perth_df_spring.loc[(perth_df_spring["month"] == 9) | (perth_df_spring["month"] == 10) | (perth_df_spring["month"] == 11)]
perth_spring_average_uv = perth_df_spring["uv_index"].mean()
perth_spring_average_uv

8.879890109890109

In [9]:
# average summer uv (perth)
perth_df_summer = df_file_city.loc[df_file_city["city"] == "Perth"]
perth_df_summer = perth_df_summer.loc[(perth_df_summer["month"] == 12) | (perth_df_summer["month"] == 1) | (perth_df_summer["month"] == 2)]
perth_summer_average_uv = perth_df_summer["uv_index"].mean()
perth_summer_average_uv

12.937752808988764

In [10]:
# average autumn uv (perth)
perth_df_autumn = df_file_city.loc[df_file_city["city"] == "Perth"]
perth_df_autumn = perth_df_autumn.loc[(perth_df_autumn["month"] == 3) | (perth_df_autumn["month"] == 4) | (perth_df_autumn["month"] == 5)]
perth_autumn_average_uv = perth_df_autumn["uv_index"].mean()
perth_autumn_average_uv

6.456630434782609